*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: #F4F1DE;
  }
  
  header div.logo img{
    width: 100px;
    text-align: center;
  }
  
  header div #boton{
    border: 1px solid #E07A5F;
    background-color: #E07A5F;
  }
  
  header div #boton a{
   color: #383536;
   font-size: 1.5em;
   background-color: #E07A5F;
  }
  
  header .up-bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2px;
    background-color: #F4F1DE;
  }
  
  header .mid-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  
  header .mid-bar h2{
    font-size: 14px;
    font-weight: 300;
    color: #383536
  }
  
  header div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: center;
  }
  
  header div.logo img{
    background-color: #F4F1DE;
    border:none;
  }
  
  header div #home{
    border: 1px solid #F4F1DE;
    background-color: #F4F1DE;
  }
  
  header div #home a{
   color: #383536;
   font-size: 1.5em;
   background-color: #F4F1DE;
  }
  
  header div.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 20px;
  }
  
  header div.login button a{
    text-decoration: none;
    color:#383536;
    border:none;
    font-size: 1.5em;
    background-color: #F4F1DE;
  }
  header div.login i{
    font-size: 2em;
  }
  
  .navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #E07A5F;
    padding: 20px;
    align-items: center
  }
  
  div.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  div.burger-menu i{
    background-color: #3D405B;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  
  .navbar ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    width: 60%;
    margin-left: 90px;
  }
  .navbar ul li{
    list-style-type: none;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #F4F1DE;
    font-weight: 900;
  }
  
  .navbar div.carrito i{
    font-size: 1.5em;
  }
  
  .navbar div.carrito{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
  
  main{
    width: 90%;
    margin: 0 auto;
  }

  .userList h3{
    padding-top: 20px;
    color: #3D405B;
    font-weight: 300;
    text-align: center;
  }

  .userList .users article {
      align-self: center;
      background-color: white;  
      border-radius: 5px;
      width: 100%;
      margin-top: 20px;
    }

  .userList .users article button:hover {
    border: 1px white solid;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

  .userList .users article button {
    border: 1px white solid;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
}

.fotoUser{
    margin-top: 10px;
    width: 30%;
}

.user1{
    width: 50%;

}

#title1 {
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
}

#info{
    font-weight: 300;
    font-size: 12px;
    color: #383536;
    text-align: center;
    text-align: left;
}

.userList .users article button a{
    align-self: center;
    background-color: white;
    border: 1px white solid;
    text-decoration: none;
    color:#383536;
    display: flex;
    justify-content: space-evenly;
}


  main .search-bar {
  background-color: #383536;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  }
  
  main .search-bar .form{
  width: 100%;
  text-align: center;
  }
  
  main .search-bar input{
  width: 80%;
  border: 1px solid #F4F1DE;
  border-radius: 5px;
  padding: 10px;
  }
  
  main .search-bar button{
  width: 5%;
  border: 1px solid #F4F1DE;
  border-radius: 5px;
  padding: 10px;
  }
  
  main .search-bar input:hover{
    background-color: #ebebeb;
  }
  
  main .search-bar button:hover{
    background-color: #E07A5F;
  }


  
  footer{
    background-color: #3D405B;
    color: #F4F1DE;
    padding: 20px;
  }
  
  .sinCopyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sinCopyright h1{
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .sinCopyright li{
    font-size: 14px;
  }
  
  .sinCopyright h5{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .sinCopyright section i{
    font-size: 1.5em;
    margin-right: 20px;
  }
  
  .sinCopyright .redes{
    padding-right: 70px;
  }
  
  footer .primeraParte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
  }
  
  footer .informacionLegal{
    margin-bottom: 20px;
  }
  footer .primeraParte a{
     text-decoration: none;
     color: #F4F1DE
  }
  
  .Copyright{
    font-style: italic;
    font-size: 14px;
    text-align: end;
    margin-right: 40px;
    margin-top: 30px;
  }
  
  .primeraParte ul li{
    list-style-type: none;
  }
  
  
  @media (min-width:361px){
  main section .productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  }
  main .productosRelacionados .productos article{
    width:45%
  }
  main .productosRelacionados .productos .product1{
    width:45%
  }
  }
  @media (max-width: 768px){
    header .mid-bar{
      display:none;
    }
    .navbar ul {
      display:none;
    }
  }
  
  @media (min-width: 769px){
    main .productosRelacionados .productos article {
      width: 22%;
    }
    main .productosRelacionados .productos .product1 {
      width: 30%;
    }
    header .up-bar{
      display:flex;
      justify-content: space-between;
      padding: 5px;
    }
    header div.logo{
      width: 20%;
      padding-left: 40px;
    }
    .navbar .burger-menu{
      display:none;
    }
    header div.login{
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar{
      justify-content: space-around;
    }
     .sinCopyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    footer .primeraParte{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 50%;
    }
    header div.login{
      width: 20%;
      align-self: center
  }}