<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
<main id="contact-main">   
<div id="container-contact">
    <h2 id="titleContact">Contactá con nosotros a través de los siguientes canales:</h2>     

    <h1 id="contact">Número de Atención al cliente: XXXX-XXXX-XXXX</h1>
    <h1 id="contact">Facebook<i class="fab fa-facebook"></i></h1>
    <h1 id="contact">Instagram<i class="fab fa-instagram"></i></h1>
    <h1 id="contact">Whatsapp<i class="fab fa-whatsapp"></i></h1>

</div>
</main>  
<%- include("partials/footer.ejs") %>
</body>
</html>

