<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/admin.css">
<body>
    <%- include("partials/header.ejs") %>
<main>   
    <form action="/productos/crear" method="POST">
        <br/>       
        <nav>
        <h2>Crear producto</h2>
        <div class="nombre">         
            <label for="name"></label>
            <input placeholder="Nombre del producto" type="text" name="nombre" id="nombre">
            <label for="description"></label>
            <textarea placeholder="Descripción del producto" name="descripcion" id="description"></textarea>
        </div>                     
        <h3 class="foto">Imagen</h3>   
        <div class="foto-archivo">
        <input type="file" name="img" id="archivo" accept=".png, .jpeg, .jpg, .gif" sytle="display:none">        
        </div>
        <label>Categoria:</label> 
            <select name="categoria">
                 <option value="Mates">Mates</option>
                 <option value="Gorras">Gorras</option>
                 <option value="Remeras">Remeras</option>
            </select>     
        </div>
        <div class="colores">
            <h3 class="preg-colores">Colores disponibles:</h3>    
            <p><input type="checkbox" id ="color" name="color" value="Black" >
            <label>Negro</label></p>   
            <p><input type="checkbox" id = "color" name="color" value="white" >
            <label>Blanco</label></p>   
            <p><input type="checkbox" id = "color" name="color" value="grey" >
            <label>Gris</label></p>   
            <p><input type="checkbox" id = "color" name="color" value="Red" >
            <label>Rojo</label></p>       
            <p><input type="checkbox" id ="color" name="color" value="blue" >
            <label>Azul</label></p>              
        </div>  
        <div class="talles">
            <h3 class="preg-talles">Talles disponibles:</h3>    
            <p><input type="checkbox" id ="talle" name="talle" value="xs" >
            <label for="xs">XS</label></p>   
            <p><input type="checkbox" id = "talle" name="talle" value="s" >
            <label for="s">S</label></p>   
            <p><input type="checkbox" id = "talle" name="talle" value="m" >
            <label for="m">M</label></p>   
            <p><input type="checkbox" id = "talle" name="talle" value="l" >
            <label for="l">L</label></p>       
            <p><input type="checkbox" id = "talle" name="talle" value="xl" >
            <label for="xl">XL</label></p>              
        <br/>         
            <label for="precio"></label>
            <input placeholder="Precio" type="number" name="precio" id="precio">
            <input placeholder="Descuento" type="number" name="descuento" id="descuento" min="0" max="100" >

        <div class="agregar">      
            <input type="submit" name="submit" id="agregar" value="CREAR PRODUCTO"> </input>
            <br/>
            <input type="reset" name="reset" id="borrar" value="BORRAR"> </input>
            <br/>
            <a href="/"><button id="vuelvo">Volver a Pagina Principal</button></a>
        </div>       
        </nav>
    </form>    
</main> 
 
<%- include("partials/footer.ejs") %>
</body>
</html>

