<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciá Sesión - Geek Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
<header>
    <div class="up-bar">
        <div class="logo">
            <button id="home"><a href="/"><img src="/img/logo.png" alt="Logo de Geek Store" ></a></button>
        </div>
    <div class="mid-bar">
        <h2 class="envios">
            <i class="fas fa-truck"></i>
            ENVÍOS PREMIUM Y STANDARD
        </h2>

        <h2 class="mejoresPrecios">
            <i class="fas fa-dollar-sign"></i>
            LOS MEJORES PRECIOS
        </h2>

        <h2 class="asesoramiento">
            <i class="fas fa-user-check"></i>
            ASESORAMIENTO PERSONALIZADO
        </h2>
    </div>
    <div class="login">
        <button id="home"><a href="/user/login"><i class="fas fa-user-circle"></i></a></button>   
    </div>
    </div> 
    <nav class="navbar">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

        <ul>
            <li><a href="/productos">PRODUCTOS</a> </li>
            <li><a href="/productos/ofertas">OFERTAS</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
            <li><a href="/about-us">NOSOTROS</a></li>
        </ul>
        <div class="carrito">
            <button id="boton"><a href="/productos/productCart"><i class="fas fa-shopping-cart"></i></a></button>
        </div>
    </nav>
</header>
<main>
<form action="/" method="GET">
    <nav>
    <h2>Inicía sesión</h2>
    <div class="loginU">
            <input placeholder="USUARIO" type="text" name="user" id="user" required></p>                  
            <input placeholder="CONTRASEÑA" type="password" name="password" id="password" required></p>
    </div>
    <div class="submitMasEnviar">          
            <input type="submit" name="submit" id="enviar" value="ENVIAR"> </input>            
            <a href="/"><button id="vuelvo">Volver a Pagina Principal</button></a>       
    </div>
    <button id="boton"><a href="/user/register">¿Todavía no tenes una cuenta? Registrate acá.</a></button>
    </nav>
</form>
</main>
<footer>
        <div class="sinCopyright">
    <div class="primeraParte">
        <section class= informacionLegal>
            <h1>INFORMACIÓN LEGAL</h1>
            <ul>
                <li><a href=/informacion-legal >Aviso Legal</a></li>
                <li><a href=/informacion-legal >Politica de privacidad</a></li>
                <li><a href=/informacion-legal >Politica de cookies</a></li>
                <li><a href=/informacion-legal >Configuración de cookies</a></li>
                <li><a href=/informacion-legal >Términos y condiciones</a></li>
            </ul>
        </section>
    
        <section class= "asesoramiento">
            <h1>ASESORAMIENTO</h1>
            <ul>
                <li><a href=/about-us >Quiénes somos</a></li>
                <li><a href=/ayuda >Ayuda</a></li>
                <li><a href=/contacto >Contacto</a></li>
            </ul>
        </section>
    </div>
        <section class="redes">
            <h5>Encontranos también en:</h5>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
        </section>
    </div>
        <section class="Copyright">

            <p>Copyright © 2020-2022 GeekStore S.R.L.</p>
    </footer>
    </body>
    </html>
