<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Iniciá sesión en Geek Store</title>
<body>
    <%- include("partials/header.ejs") %>
<main>
<form action="/" method="GET">
    <nav>
    <h2>Inicía sesión</h2>
    <div class="loginU">
            <input placeholder="USUARIO" type="text" name="user" id="user" required></p>                  
            <input placeholder="CONTRASEÑA" type="password" name="password" id="password" required></p>
    </div>
    <div class="submitMasEnviar">          
            <input type="submit" name="submit" id="enviar" value="ENVIAR"> </input>            
    </div>
    <button id="boton"><a href="/users/register">¿Todavía no tenes una cuenta? Registrate acá.</a></button>
    </nav>
</form>
<a href="/"><button id="vuelvo">Volver a Pagina Principal</button></a>       
</main>
<%- include("partials/footer.ejs") %>
    </body>
    </html>
