<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito de compras - Geek Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/productCart.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/roboto.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="up-bar">
            <div class="logo">
                <button id="home"><a href="/"><img src="/img/logo.png" alt="Logo de Geek Store" ></a></button>
            </div>
        <div class="mid-bar">
            <h2 class="envios">
                <i class="fas fa-truck"></i>
                ENVÍOS PREMIUM Y STANDARD
            </h2>
         
            <h2 class="mejoresPrecios">
                <i class="fas fa-dollar-sign"></i>
                LOS MEJORES PRECIOS
            </h2>
    
            <h2 class="asesoramiento">
                <i class="fas fa-user-check"></i>
                ASESORAMIENTO PERSONALIZADO
            </h2>
        </div>
        <div class="login">
            <button id="home"><a href="/user/login"><i class="fas fa-user-circle"></i></a></button>   
        </div>
        </div> 
        <nav class="navbar">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
    
            <ul>
                <li><a href="/productos">PRODUCTOS</a> </li>
                <li><a href="/productos/ofertas">OFERTAS</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
                <li><a href="/about-us">NOSOTROS</a></li>
            </ul>
            <div class="carrito">
                <button id="boton"><a href="/productos/productCart"><i class="fas fa-shopping-cart"></i></a></button>
            </div>
        </nav>
    </header>
<main>
    <form  action="/productos/productCart/part-2" method="get">
    <h1>Tu carrito de compras</h1>
    <div class="subtitulo">
        <p class="subtitulo-1">Gestiona tus compras</p>
         <p>Finalizacion de compra</p>
    </div>
    <article class="main-article">
        <img class="producto" src="/img/remera-big-bang.png" alt="Remera" >
        <nav>
        <p>Remera Big Bang Theory</p>
        <p>En Stock</p>
        <p>Cantidad: 1</p>
        <h2 class="total">TOTAL: $1000</h2>
        <button class="boton-comprar" type="submit" >COMPRAR</button>
        </nav> 
    </article>
    <br>    
    <h3 id="subtitulo-2">Tarjeta de regalo</h3>
    <article class="gift-card">
        <div id="form">
             <div>
                <input type="text" name="giftcard" placeholder="Codigo Tarjeta de regalo" >  
            </div>
            <br>
            <div>
                <button class="boton-tarjeta" type="submit">Agregar Tarjeta de regalo</button>
            </div>
        </div>
    </article>
    <h3 id="subtitulo-2">Detalles de envío</h3>
    <article class="envios">
        <div id="form">
            <div>
                <input type="text" name="nombre" placeholder="Nombre Completo" required>  
            </div>
            <div>
                <input type="email" name="email" placeholder="Correo Electronico" required>  
            </div>
            <div>
                <input type="text" name="direccion" placeholder="Direccion" required>  
            </div>
            <div>
                <input type="text" name="ciudad" placeholder="Ciudad" required>  
            </div>
            <div>
                <input type="text" name="codigopostal" placeholder="Cod.Postal" required>  
            </div>
            <div>
                <input type="text" name="provincia" placeholder="Provincia" required>  
            </div> 
        </div>
    </article>
</form>
</main>
<footer>
    <div class="sinCopyright">
<div class="primeraParte">
    <section class= informacionLegal>
        <h1>INFORMACIÓN LEGAL</h1>
        <ul>
            <li><a href=/informacion-legal >Aviso Legal</a></li>
            <li><a href=/informacion-legal >Politica de privacidad</a></li>
            <li><a href=/informacion-legal >Politica de cookies</a></li>
            <li><a href=/informacion-legal >Configuración de cookies</a></li>
            <li><a href=/informacion-legal >Términos y condiciones</a></li>
        </ul>
    </section>

    <section class= "asesoramiento">
        <h1>ASESORAMIENTO</h1>
        <ul>
            <li><a href=/about-us >Quiénes somos</a></li>
            <li><a href=/ayuda >Ayuda</a></li>
            <li><a href=/contacto >Contacto</a></li>
        </ul>
    </section>
</div>
    <section class="redes">
        <h5>Encontranos también en:</h5>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
    </section>
</div>
    <section class="Copyright">
        
        <p>Copyright ©️ 2020-2022 GeekStore S.R.L.</p>

    </section>
    
</footer>
</body>
</html>














    

</body>
</html>