
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Raleway', sans-serif;
    background-color: #F4F1DE;
  }
  
  header div.logo img{
    width: 100px;
    text-align: center;
  }
  
  header div #boton{
    border: 1px solid #E07A5F;
    background-color: #E07A5F;
  }
  
  header div #boton a{
   color: #383536;
   font-size: 1.5em;
   background-color: #E07A5F;
  }
  
  header .up-bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2px;
    background-color: #F4F1DE;
  }
  
  header .mid-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  
  header .mid-bar h2{
    font-size: 12px;
    font-weight: 300;
    color: #383536
  }
  
  header div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: center;
  }
  
  header div.logo img{
    background-color: #F4F1DE;
    border:none;
  }
  
  header div #home{
    border: 1px solid #F4F1DE;
    background-color: #F4F1DE;
  }
  
  header div #home a{
   color: #383536;
   font-size: 1.5em;
   background-color: #F4F1DE;
  }
  
  header div.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 20px;
  }
  
  header div.login button a{
    text-decoration: none;
    color:#383536;
    border:none;
    font-size: 1.5em;
    background-color: #F4F1DE;
  }
  header div.login i{
    font-size: 2em;
  }
  
  .navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #E07A5F;
    padding: 20px;
    align-items: center
  }
  
  div.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  div.burger-menu i{
    background-color: #3D405B;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  
  .navbar ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    width: 60%;
    margin-left: 90px;
  }
  .navbar ul li{
    list-style-type: none;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #F4F1DE;
    font-weight: 900;
  }
  
  .navbar div.carrito i{
    font-size: 1.5em;
  }
  
  .navbar div.carrito{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
/*termina el header*/
/*empieza el main*/

main nav h2{
    font-size: 25px;
    color: #E07A5F;
    font-weight: 600;
    padding-bottom: 20px;
}
main form {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main nav {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 60px;
    background-color:#FFF;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    justify-content: center;
}

main nav div.loginU{
    display: flex;      
    flex-wrap: wrap;
    margin: 20px 0px;  
    align-content: left;
    color: #383536;    
}

#errores{
    color: #f12727;
    padding: 10px;
    font-size: 13px;
    font-style: italic;
}

#remember{
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 20px;
    color: #383536;
    font-size: 14px;
    font-style: italic;
    margin-left: 8px;
}

.recordame{
    margin-left: 10px;
    position: inherit;
}

main nav div.loginU #user{
    width: 90%;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #383536;
    background-color:#F4F1DE;
    margin-bottom: 20px;
}

main nav div.loginU #password{
    width: 90%;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #383536;
    background-color:#F4F1DE;
    margin-bottom: 5px;
}

 main nav div.submitMasEnviar{    
    display: flex;
    flex-wrap: wrap;   
    flex-direction:column;
    background-color: #FFF;
    align-content: left;  
    color: #383536;
}

#enviar{    
    background-color: #6EDD72;
    width: 60%;
    height: auto;
    color: white;
    font-weight: bold; 
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #6EDD72;
    padding: 10px;
}

#enviar:hover{
    border: 1px solid #9EE8A1;
    background-color: #9EE8A1;
}

main a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

main #vuelvo{      
    font-size: 1rem;
    border-radius: 5px;  
    background-color: #f2cc8f;        
    color:white;   
    border: 1px solid #f2cc8f;
    padding: 10px;  
    margin-bottom: 30px;
}

#vuelvo:hover{
    border: 1px solid #f0c175;
    background-color: #f0c175;
    color:#383536
}

#boton {
    font-size: 14px;
    color: #FFF;
    padding: 10px;
    background-color: white;
    border: none
}

#boton a{
    text-decoration: none;
    color:#383536
}

h3{
    color: darkblue;
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}
/*empieza el footer*/
 
footer{
    background-color: #3D405B;
    color: #F4F1DE;
    padding: 20px;
}
  
.sinCopyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.sinCopyright h1{
    font-size: 16px;
    margin-bottom: 10px;
}
  
.sinCopyright li{
    font-size: 14px;
}
  
.sinCopyright h5{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
  
.sinCopyright section i{
    font-size: 1.5em;
    margin-right: 20px;
}
  
.sinCopyright .redes{
    padding-right: 70px;
}
  
footer .primeraParte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}
  
footer .informacionLegal{
    margin-bottom: 20px;
}
footer .primeraParte a{
     text-decoration: none;
     color: #F4F1DE
}
  
.Copyright{
    font-style: italic;
    font-size: 14px;
    text-align: end;
    margin-right: 40px;
    margin-top: 30px;
}
  
.primeraParte ul li{
    list-style-type: none;
}
 
  
@media (max-width: 769px){
    header .mid-bar{
      display:none;
    }
    .navbar ul {
      display:none;
    }
    main .productosRelacionados article{
    width: 100%;
    }
}
  
@media (min-width: 769px){
    main nav {
        padding: 60px 200px;
    }
    header .up-bar{
      display:flex;
      justify-content: space-between;
      padding: 5px;
    }
    header div.logo{
      width: 20%;
      padding-left: 40px;
    }
    .navbar .burger-menu{
      display:none;
    }
    header div.login{
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar{
      justify-content: space-around;
    }

     .sinCopyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    footer .primeraParte{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 50%;
    }
    header div.login{
      width: 20%;
      align-self: center
  }
}
