
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: #F4F1DE;
}
  
header div.logo img{
    width: 100px;
    text-align: center;
}
  
header .up-bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2px;
    background-color: #F4F1DE;
}
  
header .mid-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
  
header .mid-bar h2{
    font-size: 14px;
    font-weight: 300;
    color: #383536
}
  
header div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: center;
}
  
header div.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 20px;
}
  
header div.login i{
    font-size: 2em;
}
  
.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #E07A5F;
    padding: 20px;
    align-items: center
}
  
div.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
  
div.burger-menu i{
    background-color: #3D405B;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
  
.navbar ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    width: 60%;
    margin-left: 90px;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a {
    text-decoration: none;
    color: #F4F1DE;
    font-weight: 900;
}
  
.navbar div.carrito i{
    font-size: 1.5em;
}
  
.navbar div.carrito{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}
/*termina el header*/
/*empieza el main*/
main{
    width: 100%;
    height: 10%;
    display: flex; 
    justify-content: center;
}

main form{          
    display: flex;
    flex-direction:column;
    background-color: #FFF;
    width: 60%;
    margin: 20px;
    padding: 40px;
    flex-wrap: wrap;    
    align-items: center;   
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main form nav{   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:auto;      
}

main form div{   
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap
}   

form{
    margin: 0px 2rem 0px 2rem; 
}

label {
    color:#a19e9e
}

div.fechaNacimiento{
    flex-direction: column;
}

div.perfil{
    flex-direction:column;
}

div.intereses{
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;  
}

div.clave, div.submit{
    flex-direction:column;
}

#sheldon, #trones,#spiderman, #superman{
    margin-bottom: 10px;
}    

h3{
    color:#E07A5F;
    text-align: left;
    font-weight: 300;
    margin-bottom: 10px;
}

main nav div .preg-intereses{
    margin-bottom: 25px;
}

main nav .foto-user{
    margin-bottom: 10px;
    margin-top: 25px;
}

h2{
  color:#E07A5F;
  margin-bottom: 20px;
}

#errores{
    color: #f12727;
    padding: 10px;
    font-size: 13px;
    font-style: italic;
}

#ciudad, #provincia, #name, #user, #email, #domicilio, #fechaNacimiento, #password, #password_confirm {
    width: 70%;  
    height: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    color:#383536;
    font-size: 14px;
    border: 1px solid #F4F1DE;
    background-color: #F4F1DE;
    padding:20px;
}

#archivo{
    width: 60%;
    height: auto;
    color: black;
    font-weight: bold; 
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #6EDD72;
    padding: 5px;
}

#enviar, #borrar{    
    background-color: #6EDD72;
    width: 60%;
    height: auto;
    color: white;
    font-weight: bold; 
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #6EDD72;
    padding: 10px;
}

#enviar:hover , #borrar:hover{
    border: 1px solid #9EE8A1;
    background-color: #9EE8A1;
}

#vuelvo{      
    width: 100%;  
    height: auto;  
    font-size: 1rem;
    border-radius: 5px;  
    text-align: center; 
    background-color: #f2cc8f;        
    color:white;   
    border: 1px solid #f2cc8f;
    padding: 10px;
    align-self:center;
}
#vuelvo:hover{
    border: 1px solid #f0c175;
    background-color: #f0c175;
    color:#383536
}



footer{
    background-color: #3D405B;
    color: #F4F1DE;
    padding: 20px;
}
  
.sinCopyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.sinCopyright h1{
    font-size: 16px;
    margin-bottom: 10px
}
  
.sinCopyright li{
    font-size: 14px;
}
  
.sinCopyright h5{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px
}
  
.sinCopyright section i{
    font-size: 1.5em;
    margin-right: 20px
}
  
.sinCopyright .redes{
    padding-right: 70px;
}
  
footer .primeraParte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}
  
footer .informacionLegal{
    margin-bottom: 20px;
}
footer .primeraParte a{
     text-decoration: none;
     color: #F4F1DE
}
  
.Copyright{
    font-style: italic;
    font-size: 14px;
    text-align: end;
    margin-right: 40px;
    margin-top: 30px;
}
  
.primeraParte ul li{
    list-style-type: none;
}
 
  
@media (max-width: 769px){
    header .mid-bar{
      display:none;
    }
    .navbar ul {
    display:none
    }
}
  
@media (min-width: 769px){
    header .up-bar{
      display:flex;
      justify-content: space-between;
      padding: 5px
    }
    header div.logo{
      width: 20%;
      padding-left: 40px
    }
    .navbar .burger-menu{
      display:none;
    }
    header div.login{
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar{
      justify-content: space-around;
    }
    .sinCopyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    footer .primeraParte{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 50%;
    }
    header div.login{
      width: 20%;
      align-self: center
  }
}