<footer>
    <div class="sinCopyright">
<div class="primeraParte">
    <section class= informacionLegal>
        <h1>INFORMACIÓN LEGAL</h1>
        <ul>
            <li><a href=/informacion-legal >Aviso Legal</a></li>
            <li><a href=/informacion-legal >Politica de privacidad</a></li>
            <li><a href=/informacion-legal >Politica de cookies</a></li>
            <li><a href=/informacion-legal >Configuración de cookies</a></li>
            <li><a href=/informacion-legal >Términos y condiciones</a></li>
        </ul>
    </section>

    <section class= "asesoramiento">
        <h1>ASESORAMIENTO</h1>
        <ul>
            <li><a href=/about-us >Quiénes somos</a></li>
            <li><a href=/ayuda >Ayuda</a></li>
            <li><a href=/contacto >Contacto</a></li>
        </ul>
    </section>
</div>
    <section class="redes">
        <h5>Encontranos también en:</h5>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
    </section>
</div>
    <section class="Copyright">
        
        <p>Copyright © 2020-2022 GeekStore S.R.L.</p>

    </section>
    
</footer>