<header>
    <div class="up-bar">
        <div class="logo">
            <button id="home"><a href="/"><img src="/img/logo.png" alt="Logo de Geek Store" ></a></button>
        </div>
    <div class="mid-bar">
        <h2 class="envios">
            <i class="fas fa-truck"></i>
            ENVÍOS PREMIUM Y STANDARD
        </h2>
     
        <h2 class="mejoresPrecios">
            <i class="fas fa-dollar-sign"></i>
            LOS MEJORES PRECIOS
        </h2>

        <h2 class="asesoramiento">
            <i class="fas fa-user-check"></i>
            ASESORAMIENTO PERSONALIZADO
        </h2>
    </div>
        <div class="login">
            <button id="home"><a href="/users/login"><i class="fas fa-user-circle"></i></a></button>   
        </div>
    </div> 
    <nav class="navbar">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

        <ul>
            <li><a href="/productos">PRODUCTOS</a> </li>
            <li><a href="/productos/ofertas">OFERTAS</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
            <li><a href="/about-us">NOSOTROS</a></li>
        </ul>
        <div class="carrito">
            <button id="boton"><a href="/productos/productCart"><i class="fas fa-shopping-cart"></i></a></button>
        </div>
    </nav>
</header>