<header>
    <div class="up-bar my-fixed-item">
        <div class="logo">
            <button id="home"><a href="/"><img src="/img/logo.png" alt="Logo de Geek Store" ></a></button>
        </div>
    <div class="mid-bar">
        <h2 class="envios">
            <i class="fas fa-truck"></i>
            ENVÍOS PREMIUM Y STANDARD
        </h2>
     
        <h2 class="mejoresPrecios">
            <i class="fas fa-dollar-sign"></i>
            LOS MEJORES PRECIOS
        </h2>

        <h2 class="asesoramiento">
            <i class="fas fa-user-check"></i>
            ASESORAMIENTO PERSONALIZADO
        </h2>
    </div>
    <div class="sesion">
    <% if(locals.userLocals){ %>
        <li class="nav-item">
        <a class="myaccount" href="/usuarios/mi-cuenta"><%= userLocals.name %></a>
        </li>
      <% }else{ %>
        <div class="login">
            <button id="home"><a href="/usuarios/login"><i class="fas fa-user-circle"></i></a></button>   
        </div>
      <% } %> 
        <% if(locals.userLocals){ %>
            <form action="/usuarios/logout" method="POST">
              <button type="submit" class="logout">Cerrar Sesión</button>
            </form>
          <% } %> 
    </div> 
    </div>
    <nav class="navbar">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

        <ul>
            <li><a href="/productos">PRODUCTOS</a> </li>
            <li><a href="/productos/ofertas">OFERTAS</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
            <li><a href="/about-us">NOSOTROS</a></li>
            <% if(locals.userLocals){ %>
            <li><a href="/productos/crear">CREAR</a></li>
            <li><a href="/usuarios">USUARIOS</a></li>
            <% } %> 
           

        </ul>
        <div class="carrito">
            <button id="boton"><a href="/productos/productCart"><i class="fas fa-shopping-cart"></i></a></button>
        </div>
    </nav>
</header>